.mainLeftArea{
    background-color: rgba(223, 223, 223, 0.3);
}
.mainScoreAreaIMG{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/154/822/small/cricket-league-banner-with-illustration-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainScoreArea{
    background-color: rgba(56, 56, 56, 0.9);
    color: rgb(240, 240, 240);
}
.teamNames{
    background-color: aquamarine;
}
.runBtn{
    font-size: 22px;
    font-weight: 500;
    background: transparent;
    border: 1px solid lightgray;
    padding: 5px;
    width: 25%;
}
.runBtn:hover{
    background-color: gray;
    transition: all 0.4s;
    color: white;
    font-weight: 500;
}
.extraBtn{
    width: 100px;
    font-weight: 500;   
    letter-spacing: 1px;
    font-size: 18px;
}

.rowBG{
    background-color: rgba(223, 223, 223, 0.423);
    padding: 9px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
}

.rightCol .runPerBall{
    width: 34px;
    height: 34px;
    font-size: 15px;
    padding-top: 3px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid;
    text-align: center;
}